<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-12">
        Finish Event
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        {{#if flashMsg}}
          <div class="alert {{flashMsg.type}}">
            <strong>{{flashMsg.statusName}} </strong> {{flashMsg.text}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Event Number</th>
              <th>Type</th>
              <th>Creator</th>
              <th>Responsible</th>
              <th>Start</th>
              <th>End</th>
              <th>Event Name</th>
              <th>More Info</th>
              <th>Finish Event</th>
            </tr>
          </thead>
          <tbody>
            {{#each allEventToFinish}}
              <tr data-event-code="{{EventCode}}" data-title="{{title}}" data-created-by="{{CreatedByName}}" data-responsible-by="{{ResponsibleByName}}">
                <td class="text-center">{{EventCode}}</td>
                <td>{{Type}}</td>
                <td>{{CreatedByName}}</td>
                <td>{{ResponsibleByName}}</td>
                <td class="text-center">{{start}}</td>
                <td class="text-center">{{end}}</td>
                <td>{{title}}</td>
                <td style="text-align:center;">
                  <i onclick="loadMoreInfo(this);" class="fa fa-search-plus" aria-hidden="true"></i>
                </td>
                <td style="text-align:center;">
                  <i onclick="loadPageWriteDown(this);" class="fa fa-sign-in" aria-hidden="true"></i>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<form action="/finish-event/write-down-page" method="post" id="formWriteDown" style="display:none;"></form>

{{#section 'script'}}

  <script type="text/javascript">

    function loadMoreInfo(el){
       let form = document.createElement("form")
       form.method = "POST"
       form.action = "/find/search-event-by-code"

       var campo1 = document.createElement("input")
       campo1.name= 'EventCode'
       campo1.value= $(el).closest('tr').data('event-code')

       form.appendChild(campo1)

       document.body.appendChild(form)

       form.submit()
    }

    function loadPageWriteDown(el){
      $('#formWriteDown').empty()

      $('<input />', {
        type: 'hidden',
        name: 'EventCode',
        value: $(el).closest('tr').data('event-code')
        }).appendTo('#formWriteDown')

      $('<input />', {
        type: 'hidden',
        name: 'Title',
        value: $(el).closest('tr').data('title')
        }).appendTo('#formWriteDown')

      $('<input />', {
        type: 'hidden',
        name: 'CreatedByName',
        value: $(el).closest('tr').data('created-by')
        }).appendTo('#formWriteDown')

      $('<input />', {
        type: 'hidden',
        name: 'ResponsibleByName',
        value: $(el).closest('tr').data('responsible-by')
        }).appendTo('#formWriteDown')

      $('#formWriteDown').submit()

    }
  </script>

{{/section}}
