<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-12">
        Finish Event
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-hover table-striped">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td style="width:15%;font-weight:bold;">Event Code</td>
              <td id="EventToSet" data-event-code="{{camposAproveitados.EventCode}}">{{camposAproveitados.EventCode}}</td>
            </tr>
            <tr>
              <td style="width:15%;font-weight:bold;">Event Name</td>
              <td>{{camposAproveitados.Title}}</td>
            </tr>
            <tr>
              <td style="width:15%;font-weight:bold;">Created By</td>
              <td>{{camposAproveitados.CreatedByName}}</td>
            </tr>
            <tr>
              <td style="width:15%;font-weight:bold;">Responsible By</td>
              <td>{{camposAproveitados.ResponsibleByName}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-hover table-striped table-bordered" style="margin-bottom:0px;">
          <thead>
            <tr>
              <th style="">Name</th>
              <th style="">Amount Used / Amount Requested</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
              <tr data-event-code={{../camposAproveitados.EventCode}} data-event-product-id="{{EventProduct_ID}}" data-amount="{{Amount}}" data-event-item-id="{{EventItemID}}" class="lineProduct">
                <td style="text-align:right;">{{ProductNameEnglish}} / {{ProductNamePort}} - {{UnitInEnglish}} / {{UnitInPort}}</td>
                <td><input style="text-align:right;" min="0" step="1" type="number" name="amountUsed" value="{{Amount}}" class="amountUsed"> / <span class="amountRequested">{{Amount}}</span> </td>
              </tr>
            {{/each}}
              <tr>
                <td colspan="2" class="text-right">
                  <input type="button" name="" value="Close Event" class="btn btn-primary btn-xs" onclick="closeEvent()">
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<form action="/finish-event/close-event" method="post" id="formCloseEvent">

{{#section 'script'}}

  <script type="text/javascript">
    function closeEvent(){

      $('#formCloseEvent').empty()
      let arrayBaixa = []

      $('<input />', {
        type: 'hidden',
        name: 'EventCode',
        value: $('#EventToSet').data('event-code')}).appendTo('#formCloseEvent')

      $('.lineProduct').each(function(e){
        let EventItemID = $(this).data('event-item-id')
        let EventCode = $(this).data('event-code')
        let EventProduct_ID = $(this).data('event-product-id')
        let amountUsed = $(this).find('.amountUsed').val()
        let amountRequested = $(this).find('.amountRequested').text()
        arrayBaixa.push({
          EventItemID,
          EventCode,
          EventProduct_ID,
          amountUsed,
          amountRequested,
        })
      })

      $('<input />', {
        type: 'hidden',
        name: 'darBaixa',
        value: JSON.stringify(arrayBaixa)}).appendTo('#formCloseEvent')

      $('#formCloseEvent').submit();
    }
  </script>

{{/section}}
