<div class="panel panel-primary">
  <div class="panel-heading">{{{i18n 'accountability'}}}</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <th>Code</th>
        <th>Created At</th>
        <th>Type</th>
        <th>Budget</th>
        <th>Requested By</th>
        <th>Authorized By</th>
        <th>Event Name</th>
        <th>Currency</th>
        <!-- <th><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="More Info"></i></th> -->
        <th><i class="fa fa-file-pdf-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Download PDF"></i></th>
      </thead>
      <tbody>
        {{#each listCashAdvancedOpen}}
          <tr data-code={{Code}}>
            <td class="text-center">{{Code}}</td>
            <td class="text-center">{{CreatedAt}}</td>
            <td>{{ExpenseReportType_ID}}</td>
            <td class="text-center">{{Budget}}</td>
            <td>{{RequestedBy}}</td>
            <td>{{AuthorizedBy}}</td>
            <td>{{EventName}}</td>
            <td>{{Currency}} ({{CurrencyQuotation}})</td>
            <!-- <td class="text-center">
              {{{MoreInfo}}}
            </td> -->
            <td class="text-center">
              {{{pdf}}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
