<div class="panel panel-primary">
  <div class="panel-heading">{{{i18n 'accountability'}}}</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <th>{{{i18n 'code'}}}</th>
        <th>{{{i18n 'createdat'}}}</th>
        <th>{{{i18n 'type'}}}</th>
        <th>{{{i18n 'budget'}}}</th>
        <th>{{{i18n 'requestedby'}}}</th>
        <th>{{{i18n 'authorizedby'}}}</th>
        <th>{{{i18n 'eventname'}}}</th>
        <th>{{{i18n 'currency'}}}</th>
        <!-- <th><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="More Info"></i></th> -->
        <th><i class="fa fa-sticky-note-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{{i18n 'Accountability'}}}"></i></th>
      </thead>
      <tbody>
        {{#each listCashAdvancedOpen}}
          <tr data-code={{Code}} onclick="openCashAdvance(this);">
            <td class="text-center">{{Code}}</td>
            <td class="text-center">{{CreatedAt}}</td>
            <td>{{NameType}}</td>
            <td class="text-center">{{Budget}}</td>
            <td>{{RequestedBy}}</td>
            <td>{{AuthorizedBy}}</td>
            <td>{{EventName}}</td>
            <td>{{Currency}} ({{CurrencyQuotation}})</td>
            <td class="text-center">
              <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


{{#section 'script'}}
  <script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip()

    function openCashAdvance(el){
      let form = document.createElement("form")
      form.method = "POST"
      form.action = "/expense-report/open-cash-advanced"
      var campo1 = document.createElement("input")
      campo1.name= 'Code'
      campo1.value= $(el).closest('tr').data('code')
      form.appendChild(campo1)
      document.body.appendChild(form)
      form.submit()
    }
  </script>
{{/section}}
