<div class="panel panel-primary">
  <div class="panel-heading">{{{i18n 'newPage.titlePanel'}}}</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        <label for="">{{{i18n 'newPage.tipo'}}}</label>
        <select id="ExpenseReportType_ID" name="ExpenseReportType_ID" class="form-control">
          <option value="">Select</option>
          {{#each TypeExpenseReport}}
            <option value="{{ExpenseReportTypeID}}">{{{i18n NameType}}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-sm-4">
        <label for="">{{{i18n 'newPage.budget'}}}</label>
        <select id="id_budget" name="id_budget" style="width:100%;">
          <option value="">Select</option>
          {{#each sess.budgets}}
            <option data-setor="{{setor}}" data-grupo="{{grupo}}" data-conta="{{conta}}" data-ncont="{{nomecont}}" data-saldo="{{saldo}}" value="{{id_orca}}">{{pad setor 3 0}} {{pad grupo 3 0}} {{conta}} {{ncont}} - R${{addDecimalCases saldo}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-sm-4">
        <label for="">{{{i18n 'newPage.moeda'}}}</label>
        <select id="Currency" name="Currency" class="form-control">
          <option value="">Select</option>
          {{#each Currency}}
            <option value="{{quotation}}">{{completeName}} - R$ {{quotation}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-sm-3">
        <label for="">{{{i18n 'newPage.requestby'}}}</label>
        <input type="text" name="RequestedBy" value="" class="form-control">
      </div>
      <div class="col-sm-3">
        <label for="">{{{i18n 'newPage.authorizedby'}}}</label>
        <input type="text" name="AuthorizeBy" value="" class="form-control">
      </div>
      <div class="col-sm-6">
        <label for="">{{{i18n 'newPage.event'}}}</label>
        <input type="text" name="" value="" class="form-control">
      </div>
    </div>
  </div>
</div>



{{#section 'script'}}

  <script>
    $('#ExpenseReportType_ID').select2()
    $('#Currency').select2()
    $('#id_budget').select2()
  </script>

{{/section}}
