{{#section 'head'}}
  <style media="screen">
    .table > thead > tr > th {
      border-right: 1px solid white;
    }
  </style>
{{/section}}
<div class="panel panel-primary">
  <div class="panel-heading">{{{i18n 'newPage.titlePanel'}}}</div>
  <div class="panel-body">
    <form class="" action="index.html" method="post">
      <div class="row">
        <div class="col-sm-4">
          <label for="">1 - {{{i18n 'newPage.tipo'}}} -></label>
          <select id="ExpenseReportType_ID" name="ExpenseReportType_ID" class="form-control" required>
            <option value="">Select</option>
            {{#each TypeExpenseReport}}
              <option value="{{ExpenseReportTypeID}}">{{{i18n NameType}}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-4">
          <label for="">2 - {{{i18n 'newPage.budget'}}} -></label>
          <select id="id_budget" name="id_budget" style="width:100%;" required>
            <option value="">Select</option>
            {{#each sess.budgets}}
              <option data-setor="{{setor}}" data-grupo="{{grupo}}" data-conta="{{conta}}" data-ncont="{{nomecont}}" data-saldo="{{saldo}}" value="{{id_orca}}">{{pad setor 3 0}} {{pad grupo 3 0}} {{conta}} {{ncont}} - R${{addDecimalCases saldo}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-4">
          <label for="">3 - {{{i18n 'newPage.moeda'}}}</label>
          <select id="Currency" name="Currency" class="form-control" required>
            <option value="">Select</option>
            {{#each Currency}}
              <option value="{{quotation}}">{{completeName}} - R$ {{quotation}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="row" style="margin-top:10px;">
        <div class="col-sm-4">
          <label for="">{{{i18n 'newPage.requestby'}}}</label>
          <input type="text" name="RequestedBy" value="" class="form-control" required>
        </div>
        <div class="col-sm-4">
          <label for="">{{{i18n 'newPage.authorizedby'}}}</label>
          <select name="AuthorizeBy" id="AuthorizeBy" class="form-control">
          </select>
        </div>
        <div class="col-sm-4">
          <label for="">{{{i18n 'newPage.event'}}}</label>
          <input type="text" name="EventName" value="" class="form-control" required>
        </div>
      </div>

      <!--  TABELA DESPESAS-->
      <div class="row" style="margin-top:10px;">
        <div class="col-sm-12" id="tableExpense">

        </div>
      </div>
      <!--  TABELA DESPESAS-->

      <div class="text-center row" style="margin-top:10px;">
        <input type="submit" name="btnSubmit" value="{{{i18n 'newPage.submitForm'}}}" class="btn btn-success btn-xs">
      </div>
    </form>
  </div>
</div>


<div class="row" id="layoutExpenseWholeSchool" style="display:none;">
  <table class="table" style="width:100%;margin-bottom:5px;">
    <thead>
      <tr style="background-color:#2A3F54;color:#FFF;">
        <th style="width:15%;">{{{i18n 'newPage.datePayment'}}}</th>
        <th style="width:55%;">{{{i18n 'newPage.description'}}}</th>
        <th style="width:15%;">{{{i18n 'newPage.centrocusto'}}}</th>
        <th style="width:10%;">{{{i18n 'newPage.value'}}}</th>
        <th style="width:5%;">&nbsp;</th>
      </tr>
    </thead>
    <tbody id="bodyWSExpense">
      <tr class="expenseLine">
        <td>
          <input type="date" name="" value="" class="form-control">
        </td>
        <td>
          <input type="text" name="" value="" class="form-control">
        </td>
        <td>
          <select name="CostCenter" class="form-control CostCenter">
            <option value="">Select</option>
            {{#each allCostCenter}}
              <option value="{{Number}}">{{Number}} - {{Name}}</option>
            {{/each}}
          </select>
        </td>
        <td>
          <input type="number" name="" value="" step="0.01" min="0" class="form-control">
        </td>
        <td class="text-center">
          <i style="font-size:23px;" class="fa fa-plus-square" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="More Line" onclick="appendTR();"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{{json this}}

{{#section 'script'}}

  <script>

    $('#ExpenseReportType_ID').select2()
    $('#Currency').select2()
    $('#id_budget').select2()
    $('#AuthorizeBy').select2()
    $('[data-toggle="tooltip"]').tooltip();

    $('#id_budget').change(function(e) {

      if('' === $('#id_budget').val()){
        clearTable()
      }else if('999999' === $('#id_budget').val()){
        searchApprovers()
        tableERWholeSchool()
      }else{
        searchApprovers()
        tableEREducational()
      }
    });

    function searchApprovers(){
      if('999999' ===$('#id_budget').val()){
        $('#AuthorizeBy option').remove()
        var optionCR = new Option("Dna. Claudia Ribeiro", "10")
        var optionDM = new Option("Dna. Denise Martins", "11")
        $('#AuthorizeBy').append(optionCR).append(optionDM)

      }else{
        let dataSend = {
          "id_budget": $('#id_budget').val()
        }
        $.ajax({
          url: '/approver/approver-by-budget',
          type: 'POST',
          data: dataSend,
          dataType:'json',
          success: function(data) {

          }
        })
      }
    }

    $('#tableExpense').html($('#layoutExpenseWholeSchool').html())
    //JOGAR PARA DENTRO DA FUNCAO
    function tableERWholeSchool(){

    }

    function clearTable(){
      alert('limpar tabelas')
    }

    function tableEREducational(){
      alert('sou edu')
    }

    function appendTR(){
      $('#bodyWSExpense').append(
        '<tr class="expenseLine">'+
          '<td>'+
            '<input type="date" name="" value="" class="form-control">'+
          '</td>'+
          '<td>'+
            '<input type="text" name="" value="" class="form-control">'+
          '</td>'+
          '<td>'+
            '<select name="CostCenter" class="form-control">'+
              '<option value="">Select</option>'+
              {{#each allCostCenter}}
                '<option value="{{Number}}">{{Number}} - {{Name}}</option>'+
              {{/each}}
            '</select>'+
          '</td>'+
          '<td>'+
            '<input type="number" name="" value="" step="0.01" min="0" class="form-control">'+
          '</td>'+
          '<td class="text-center">'+
            '<i style="font-size:23px;" class="fa fa-trash" aria-hidden="true" onclick="$(this).closest(\'tr\').remove()" data-toggle="tooltip" data-placement="bottom" title="Less Line"></i>'+
          '</td>'+
        '</tr>'
      )
      $('[data-toggle="tooltip"]').tooltip();
    }

  </script>

{{/section}}
